{% extends 'base.html' %}

{%block title%}Pomerance{%endblock%}

{% block obsah %}

<h1>BMI</h1>

<p><img src="{{ url_for('static', filename='pomeranc.jpeg')}}" alt=''></p>

<p>{%if bmi != None%}
"BMI" = {{bmi}}
{%else %}
<p>je treba zadat 2 nenulova cisla</p>
{%endif%}
    </p>


<form action="" method = "GET">
    <p>Hmotnost: <br>
    <input type="number" name= "hmotnost" placeholder="Hmotnost kg">  kg </p>
    <p>Výska: <br>

    <input type="number" name="vyska" placeholder="Vyska cm">  cm </p>
    
    <p><input type="submit" value="Vypocitej"></p>
   
</form>

{% endblock obsah %}
