{% extends 'base.html' %}

{%block title%}zkracovac{%endblock%}

{% block obsah %}

<h1>zkracovac URL</h1>


{% if new %}
<p>zkratka: <a href="{{new}}">{{new}}</a></p>

{% endif %}

<form method="post">

    <p class="url">
        Zadej URL: <input name="url" type="text">
        <button type="submit">zkratit</button>
    </p>


</form>

<h2>Seznam ulozenych zkratek</h2>

<ul>
    {% for zkratka, adresa in zkratky %}

    <li><a href="{{url_for('dezkracovac', zkratka=zkratka)}}"> {{ zkratka }}</a></li>
    <li>{{ zkratka }} <a href="{{ adresa }}"> {{ adresa }}</a></li>
    {% endfor %}
</ul>




{% endblock obsah %}